{% extends "app_general/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>เพิ่มสินค้า</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">เพิ่มสินค้า</h2>
          <form method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{ productform|crispy }}
            <select class="form-select" aria-label="Default select example" name="cat">
              {% for cat in categorys %}
              <option>{{cat.name}}</option>
              {% endfor %}
            </select>
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block">ยืนยัน</button>    
              <a href="{% url 'products' %}" class="btn btn-secondary btn-block mt-2">กลับไปยังรายการสินค้า</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}