{% extends "app_general/base.html" %}

{% block title %}
<title>สินค้า</title>
{% endblock %}

{% block content %}

<style>
    .col {
        flex: 0 0 auto; /* อนุญาตให้ flex item มีขนาดตามเนื้อหาข้างใน */
        margin-bottom: 20px; /* ระยะห่างระหว่าง cards */
    }
    .container {
        margin-top: 20px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .col {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px; /* สำหรับเพิ่มระยะห่างระหว่าง cards */
    }
    
    .card {
        width: 200px; /* กำหนดความกว้างของ card */
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* เพิ่มเงาเล็กน้อย */
        overflow: hidden; /* ให้ขอบที่มนของรูปภาพตรงกับขอบของ card */
        background: #fff; /* สีพื้นหลังของ card */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* เพิ่ม animation ในการ hover */
    }
    
    .card:hover {
        transform: translateY(-5px); /* เมื่อ hover ให้ card เคลื่อนขึ้นเล็กน้อย */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเมื่อ hover */
    }
    
    .card-img-top {
        width: 100%;
        object-fit: cover;
        height: 150px; /* ปรับความสูงของรูปภาพ */
    }
    
    .card-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* จัดเนื้อหาและปุ่มให้ทั่วทั้ง card */
    }
    
    .card-title, .card-text {
        margin-bottom: 10px;
    }
    
    /* ปุ่ม "เพิ่มสินค้า" สีเขียว */
    .btn-add {
        background-color: #28a745; /* Bootstrap green */
        color: white;
    }
    
    /* ปุ่ม "แก้ไข" สีเทา */
    .btn-edit {
        background-color: #6c757d; /* Bootstrap secondary */
        color: white;
    }
    
    /* ปุ่ม "ลบ" สีแดง */
    .btn-delete {
        background-color: #dc3545; /* Bootstrap red */
        color: white;
    }
    
    /* สไตล์เพิ่มเติมสำหรับปุ่ม */
    .btn {
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    /* ปุ่มที่มีการ hover */
    .btn:hover {
        opacity: 0.8;
    }

    .btn-custom-green {
        background-color: #28a745; /* หรือสีเขียวที่คุณต้องการ */
        color: white; /* สีของข้อความ */
        border: none; /* ไม่มีเส้นขอบ */
        padding: 8px 12px; /* ขนาดพื้นที่รอบขอบ */
        border-radius: 5px; /* ขอบมน */
        cursor: pointer; /* เมาส์เปลี่ยนเป็นมือเมื่อชี้ */
        transition: background-color 0.3s; /* เพิ่มเอฟเฟกต์การเปลี่ยนสี */
    }
    
    .btn-custom-green:hover {
        background-color: #218838; /* สีเขียวที่เข้มขึ้นเมื่อ hover */
    }
    
</style>



<section class="hero-section" style="background-image: url('path_to_hero_image.jpg');">
    <div class="container text-center">
        <br>
        <h1>Welcome to Online Market Place</h1>
    </div>
</section>

<form method="get" action="{% url 'product_search' %}" class="mb-4">
    <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="Search for products...">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>

<br>
<div class="container mt-4">
    {% if accounts.role == "admin" %}
    <button onclick="location.href='{% url 'addproducts' %}'" class="btn btn-primary mb-4">เพิ่มสินค้าใหม่</button>
    {% endif %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            {% for product in products %}
            <div class="col-md-4 col-sm-6 mb-4">
            <div class="card shadow-sm h-100">
                {% if product.product_cover %}
                <img src="{{ product.product_cover.url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }}</p>
                    <p class="card-text">{{ product.descriptions }}</p>
                    <p class="card-text">เหลือจำนวน: {{ product.stock_quantity }} กิโลกรัม</p>
                    {% comment %} <p class="card-text">{{ product.category.name }}</p> {% endcomment %}
                    <div class="mt-auto">
                        {% if accounts.role == "admin" %}
                        <button onclick="location.href='{% url 'editProducts' product.id %}'" class="btn btn-primary btn-sm">แก้ไข</button>
                        <button onclick="confirmDelete(this)" data-product-id="{{ product.id }}" class="btn btn-danger btn-sm">ลบ</button>
                        {% endif %}

                        {% if accounts.role == "customer" %}
                        <form method="post" action="{% url 'cartdisplay' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <div class="input-group number-spinner">
                              <button class="
                          btn btn-outline-secondary" type="button" data-dir="dwn">-</button>
                          <input type="text" class="form-control text-center number-spinner-input" value="1" name="quantity" id="qty-cart" />
                          <button class="btn btn-outline-secondary" type="button" data-dir="up">+</button>                         
                            </div>
                            <button type="submit" class="btn btn-custom-green">เพิ่มสินค้าลงตะกร้า</button>
                          </form>
                        {% endif %}
            
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function confirmDelete(element) {
        var productId = element.getAttribute('data-product-id');
        if (confirm("คุณแน่ใจที่จะลบสินค้านี้?")) {
            location.href = '{% url "deleteProducts" 0 %}'.replace('/0/', '/' + productId + '/');
        }
    }
    document
    .querySelectorAll(".number-spinner button")
    .forEach(function (button) {
      button.addEventListener("click", function () {
        // Find the input element within the closest parent element with class "number-spinner"
        var spinner = this.closest(".number-spinner");
        var input = spinner.querySelector("input");

        // Get the current value of the input element
        var oldValue = parseInt(input.value.trim());
        var newVal = 0;

        // Determine whether the clicked button is an "up" or "down" button
        if (this.getAttribute("data-dir") === "up") {
          newVal = oldValue + 1;
        } else {
          newVal = oldValue > 1 ? oldValue - 1 : 1;
        }

        // Set the new value of the input element
        input.value = newVal;
      });
    });
</script>
{% endblock %}

{% comment %} <form method="post" action="{% url 'cartdisplay' %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}" />
    <div class="input-group number-spinner">
      <button
        class="btn btn-outline-secondary"
        type="button"
        data-dir="dwn"
      >
        -
      </button>
      <input
        type="text"
        class="form-control text-center number-spinner-input"
        value="1"
        name="quantity"
        id="qty-cart"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        data-dir="up"
      >
        +
      </button>
    </div>
    <div class="mt-auto">
      <button
        onclick="location.href='{% url 'editProducts' product.id %}'"
        class="btn btn-primary"
      >
        แก้ไข
      </button>
      <button
        onclick="confirmDelete(this)"
        data-product-id="{{ product.id }}"
        class="btn btn-danger"
      >
        ลบ
      </button>
      <button type="submit" class="btn btn-primary">Add to Cart</button>
    </div>
  </form> {% endcomment %}